<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="UTF-8">
<title>List of Owners</title>
</head>
<body>
	<h1 th:text="#{list_owners_title}">title not found</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner?.id}">fake Id</td>
				<td th:text="${owner?.firstName}">fake Name</td>
				<td th:text="${owner?.lastName}">fake Last Name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>